.header {
    background-color: #0000ff;
}

.nav {
    background-color: #800080;
    text-align: center;
}

.main {
    display: inline-block;
    background-color: #ffd700;
    width:75%;
    text-align: center;
}

.aside {
    display: inline-block;
    text-align: center;
    background-color: #808080;
    position: absolute;
    float:left;
    overflow: initial;
    margin-right: 8px;
    padding-bottom: 70px;
}

.footer {
    background-color: #00ffff;
    text-align: center;
}

